In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('globclusters.csv')[['Name', 'OName', 'bonus_column']]

In [6]:
data

          Name   OName   bonus_column
0      NGC 104  47 Tuc           AM_1
1      NGC 288     NaN           AM_4
2      NGC 362     NaN          Arp_2
3    Whiting 1     NaN         BH_140
4     NGC 1261     NaN         BH_176
..         ...     ...            ...
165   NGC 7089     M 2  Ton2_Pismis26
166   NGC 7099    M 30          UKS_1
167     Pal 12     NaN      VVV_CL001
168     Pal 13     NaN      VVV_CL002
169   NGC 7492     NaN      Whiting_1

[170 rows x 3 columns]

In [7]:
star_cluster_names = data['bonus_column']
data['final_correlation_column'] = ['nope']*len(data)

In [ ]:
for i in range(len(data)):
    id = data['bonus_column'][i]
    fixed_id = id.replace('_', ' ')
    
    if(fixed_id in data['Name']):
        data['final_correlation_column'][data['Name'].index(id)] = id
    elif(fixed_id in data['OName']):